[submodule "gdUnit3-examples"]
	path = gdUnit3-examples
	url = https://github.com/MikeSchulze/gdUnit3-examples
[submodule "addons/gdUnit3/mono"]
	path = addons/gdUnit3/mono
	url = https://github.com/MikeSchulze/gdUnit3Mono.git
